<div id="container" style="width:100%; height:400px;">
    <highchart id="chart1" config="chartConfig"></highchart>
</div>
<ul>
    <li id="dates" class="dates" ng-repeat="player in players">
       {{player.Session_Date}}
    </li>
  </ul>
  <button ng-click="logText()">Log</button>
<script>

/*jQuery(function () { 
    jQuery('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: $scope.players[0].Session_Date
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: '',
            data: [1, 2]
        }]
    });
});*/
</script>
