<div class="container">
  
  <form class="form-signin" name="login-form" id="login-form" method="post" action="/users/login">
    
      <label class="sr-only" for="email">Email</label>
      <input type="email" class="form-control" placeholder="Email Address" id="email" name="email" required />
    
      </br>
      <label class="sr-only" for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" id="password" name="password" required />
    
    </br>
      <label  for="rememberMe">Remember Me</label>
      <input type="checkbox" id="password" name="rememberMe"  />
    
    
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log in" />
      {{#if error}}
      <div style="color:red;">{{error}}</div>
      {{/if}}
     <div class="margin-top-30">
        or <a href="/users/create">Create an account</a>
      </div>  
   
  </form>
</div>