html{
  height:100%;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  height:100%;
  background-size:100%;
  background: -webkit-linear-gradient(#c3e5e7,white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c3e5e7,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c3e5e7,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c3e5e7,white); /* Standard syntax (must be */
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

p{
    text-align:center;
}

h2{
    text-align:center;
}

button{
    text-align:center;
    width: 15%;
    
}

#playerSelect{
  width: 15%;
}

#Nav{
  background-color:black;
  
}

h1{
  text-align:center;
}

#chart1{
  width: auto;
  height: auto;
}