<div id="form_container">

		<h1><a></a></h1>
		<form id="form_1018014" class="appnitro"  method="post" action="/orders/page3">

			<ul >

				<li id="li_1" >
					<label class="description" for="element_1">Please tell us how your routine &/or activities changed since the onset of pain? </label>
					<div>
						<textarea id="element_1" name="element_1" class="element textarea medium"></textarea> 
					</div> 
				</li>		<li id="li_9" >
				<label class="description" for="element_9">Have you already seen a healthcare professional for your tendinopathy? </label>
				<span>
					<input id="element_9_1" name="element_9_1" class="element checkbox" type="checkbox" value="1" />
					<label class="choice" for="element_9_1">Chiropractor</label>
					<input id="element_9_2" name="element_9_2" class="element checkbox" type="checkbox" value="1" />
					<label class="choice" for="element_9_2">Osteopath</label>
					<input id="element_9_3" name="element_9_3" class="element checkbox" type="checkbox" value="1" />
					<label class="choice" for="element_9_3">Physiotherapist</label>
					<input id="element_9_4" name="element_9_4" class="element checkbox" type="checkbox" value="1" />
					<label class="choice" for="element_9_4">Sports Doctor</label>
					<input id="element_9_5" name="element_9_5" class="element checkbox" type="checkbox" value="1" />
					<label class="choice" for="element_9_5">Orthopaedic Surgeon</label>
					<input id="element_9_6" name="element_9_6" class="element checkbox" type="checkbox" value="1" />
					<label class="choice" for="element_9_6">Other</label>

				</span> 
			</li>		<li id="li_10" >
			<label class="description" for="element_10">What intervention have you had so far? (Please provide details) </label>
			<span>
				<input id="element_10_1" name="element_10_1" class="element checkbox" type="checkbox" value="1" />
				<label class="choice" for="element_10_1">Accupuncture</label>
				<input id="element_10_2" name="element_10_2" class="element checkbox" type="checkbox" value="1" />
				<label class="choice" for="element_10_2">Adjustments</label>
				<input id="element_10_3" name="element_10_3" class="element checkbox" type="checkbox" value="1" />
				<label class="choice" for="element_10_3">Orthotics</label>
				<input id="element_10_4" name="element_10_4" class="element checkbox" type="checkbox" value="1" />
				<label class="choice" for="element_10_4">Physiotherapy</label>
				<input id="element_10_5" name="element_10_5" class="element checkbox" type="checkbox" value="1" />
				<label class="choice" for="element_10_5">Surgery</label>
				<input id="element_10_6" name="element_10_6" class="element checkbox" type="checkbox" value="1" />
				<label class="choice" for="element_10_6">Injections</label>
				<input id="element_10_7" name="element_10_7" class="element checkbox" type="checkbox" value="1" />
				<label class="choice" for="element_10_7">None</label>
				<input id="element_10_8" name="element_10_8" class="element checkbox" type="checkbox" value="1" />
				<label class="choice" for="element_10_8">Other</label>

			</span> 
		</li>		<li id="li_11" >
		<label class="description" for="element_11">Do you wear any of the following footwear regularly? </label>
		<span>
			<input id="element_11_1" name="element_11_1" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_1">Ballet Shoes</label>
			<input id="element_11_2" name="element_11_2" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_2">Climbing Shoes</label>
			<input id="element_11_3" name="element_11_3" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_3">Football/Rugby Boots</label>
			<input id="element_11_4" name="element_11_4" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_4">Running Shoes</label>
			<input id="element_11_5" name="element_11_5" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_5">Ski Boots</label>
			<input id="element_11_6" name="element_11_6" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_6">Tap Shoes</label>
			<input id="element_11_7" name="element_11_7" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_7">Trainers/Other</label>
			<input id="element_11_8" name="element_11_8" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_8">Boots</label>
			<input id="element_11_9" name="element_11_9" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_9">Work Boots</label>
			<input id="element_11_10" name="element_11_10" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_10">Flip Flops</label>
			<input id="element_11_11" name="element_11_11" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_11">Office Shoes</label>
			<input id="element_11_12" name="element_11_12" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_12">Plimsoles</label>
			<input id="element_11_13" name="element_11_13" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_13">Sandals</label>
			<input id="element_11_14" name="element_11_14" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_14">High Heels</label>
			<input id="element_11_15" name="element_11_15" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_15">Platforms</label>
			<input id="element_11_16" name="element_11_16" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_16">Other</label>

		</span> 
	</li>		<li id="li_12" >
	<label class="description" for="element_12">Please tick relevant boxes and detail any conditions you may have and how long you have had them for. </label>
	<span>
		<input id="element_12_1" name="element_12_1" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_1">Cancer</label>
		<input id="element_12_2" name="element_12_2" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_2">High Cholesterol</label>
		<input id="element_12_3" name="element_12_3" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_3">Osteoarthritis</label>
		<input id="element_12_4" name="element_12_4" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_4">Thyroid Disease</label>
		<input id="element_12_5" name="element_12_5" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_5">Ank. Spondylosis</label>
		<input id="element_12_6" name="element_12_6" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_6">Cardiac</label>
		<input id="element_12_7" name="element_12_7" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_7">Hypertension</label>
		<input id="element_12_8" name="element_12_8" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_8">Osteoporosis</label>
		<input id="element_12_9" name="element_12_9" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_9">Vitamin Deficiency</label>
		<input id="element_12_10" name="element_12_10" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_10">Poor Sleep Pattern</label>
		<input id="element_12_11" name="element_12_11" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_11">Diabetes Type I/II</label>
		<input id="element_12_12" name="element_12_12" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_12">Menopause</label>
		<input id="element_12_13" name="element_12_13" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_13">Respiratory</label>
		<input id="element_12_14" name="element_12_14" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_14">Epilepsy</label>
		<input id="element_12_15" name="element_12_15" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_15">Obesity</label>
		<input id="element_12_16" name="element_12_16" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_16">Rheum Arthritis</label>
		<input id="element_12_17" name="element_12_17" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_17">Vit D Deficiency</label>
		<input id="element_12_18" name="element_12_18" class="element checkbox" type="checkbox" value="1" />
		<label class="choice" for="element_12_18">Other</label>

	</span> 
</li>		<li id="li_2" >
<label class="description" for="element_2">If you answered other to the above, please give details. </label>
<div>
	<textarea id="element_2" name="element_2" class="element textarea medium"></textarea> 
</div> 
</li>		<li id="li_13" >
<label class="description" for="element_13">Do you take any of the following? </label>
<span>
	<input id="element_13_1" name="element_13_1" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_1">Aspirin</label>
	<input id="element_13_2" name="element_13_2" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_2">Dabigatran</label>
	<input id="element_13_3" name="element_13_3" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_3">Heparin</label>
	<input id="element_13_4" name="element_13_4" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_4">Rivaroxaban</label>
	<input id="element_13_5" name="element_13_5" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_5">Warfarin</label>
	<input id="element_13_6" name="element_13_6" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_6">Anabolic Steroids</label>
	<input id="element_13_7" name="element_13_7" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_7">Corticosteroids</label>
	<input id="element_13_8" name="element_13_8" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_8">Oral Contraceptive Pill</label>
	<input id="element_13_9" name="element_13_9" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_9">Hormone Replacement Therapy (HRT)</label>
	<input id="element_13_10" name="element_13_10" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_10">Ciprofloxacin</label>
	<input id="element_13_11" name="element_13_11" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_11">Ofloxacin</label>
	<input id="element_13_12" name="element_13_12" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_12">Levofloxacin</label>
	<input id="element_13_13" name="element_13_13" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_13">Moxifloxacin</label>
	<input id="element_13_14" name="element_13_14" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_14">Atorvastatin</label>
	<input id="element_13_15" name="element_13_15" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_15">Pravastatin</label>
	<input id="element_13_16" name="element_13_16" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_16">Simvastatin</label>
	<input id="element_13_17" name="element_13_17" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_13_17">Other</label>

</span> 
</li>		<li id="li_3" >
<label class="description" for="element_3">If you answered other to the above, please give details </label>
<div>
	<textarea id="element_3" name="element_3" class="element textarea medium"></textarea> 
</div> 
</li>		<li id="li_4" >
<label class="description" for="element_4">Please give details of any drug allergies you may have </label>
<div>
	<textarea id="element_4" name="element_4" class="element textarea medium"></textarea> 
</div> 
</li>		<li id="li_14" >
<label class="description" for="element_14">Do any of the following conditions run in your family? </label>
<span>
	<input id="element_14_1" name="element_14_1" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_1">Ank. Spondylosis</label>
	<input id="element_14_2" name="element_14_2" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_2">Cancer</label>
	<input id="element_14_3" name="element_14_3" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_3">Cushing’s Disease</label>
	<input id="element_14_4" name="element_14_4" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_4">Dermatomyositis</label>
	<input id="element_14_5" name="element_14_5" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_5">Diabetes</label>
	<input id="element_14_6" name="element_14_6" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_6">Heart Disease</label>
	<input id="element_14_7" name="element_14_7" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_7">High Cholesterol</label>
	<input id="element_14_8" name="element_14_8" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_8">Polymyositis</label>
	<input id="element_14_9" name="element_14_9" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_9">Rheum. Arthritis</label>
	<input id="element_14_10" name="element_14_10" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_10">Tendon Disorders</label>
	<input id="element_14_11" name="element_14_11" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_11">Thyroid disorders</label>
	<input id="element_14_12" name="element_14_12" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_12">Valsculitis</label>
	<input id="element_14_13" name="element_14_13" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_14_13">Other</label>

</span> 
</li>		<li id="li_5" >
<label class="description" for="element_5">If you answered other to the above, please give details. </label>
<div>
	<textarea id="element_5" name="element_5" class="element textarea medium"></textarea> 
</div> 
</li>		<li id="li_15" >
<label class="description" for="element_15">Do you have trouble undertaking any activities of daily living due to tendon pain? </label>
<span>
	<input id="element_15_1" name="element_15_1" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_15_1">Bathing/Showering</label>
	<input id="element_15_2" name="element_15_2" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_15_2">Dressing</label>
	<input id="element_15_3" name="element_15_3" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_15_3">Self Feeding</label>
	<input id="element_15_4" name="element_15_4" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_15_4">Shopping</label>
	<input id="element_15_5" name="element_15_5" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_15_5">Moving around the house</label>
	<input id="element_15_6" name="element_15_6" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_15_6">Hygiene/Grooming</label>
	<input id="element_15_7" name="element_15_7" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_15_7">Housework</label>

</span> 
</li>		<li id="li_16" >
<label class="description" for="element_16">Do you experience any of the following? </label>
<span>
	<input id="element_16_1" name="element_16_1" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_16_1">Depression</label>
	<input id="element_16_2" name="element_16_2" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_16_2">Anxiety</label>
	<input id="element_16_3" name="element_16_3" class="element checkbox" type="checkbox" value="1" />
	<label class="choice" for="element_16_3">Other</label>

</span> 
</li>		<li id="li_6" >
<label class="description" for="element_6">If you answered other to the above, please give details. </label>
<div>
	<textarea id="element_6" name="element_6" class="element textarea medium"></textarea> 
</div> 
</li>		<li id="li_17" >
<label class="description" for="element_17">Do you smoke? </label>
<span>
	<input id="element_17_1" name="element_17" class="element radio" type="radio" value="1" />
	<label class="choice" for="element_17_1">Smoker</label>
	<input id="element_17_2" name="element_17" class="element radio" type="radio" value="2" />
	<label class="choice" for="element_17_2">Ex-smoker</label>
	<input id="element_17_3" name="element_17" class="element radio" type="radio" value="3" />
	<label class="choice" for="element_17_3">Non-smoker</label>

</span> 
</li>		<li id="li_7" >
<label class="description" for="element_7">If you have ever smoked, how long have/did you smoke for? </label>
<div>
	<input id="element_7" name="element_7" class="element text medium" type="text" maxlength="255" value=""/> 
</div> 
</li>		<li id="li_8" >
<label class="description" for="element_8">How many cigarettes/cigars per day on average? </label>
<div>
	<input id="element_8" name="element_8" class="element text medium" type="text" maxlength="255" value=""/> 
</div> 
</li>		<li id="li_18" >
<label class="description" for="element_18">Do you drink alcohol? </label>
<span>
	<input id="element_18_1" name="element_18" class="element radio" type="radio" value="1" />
	<label class="choice" for="element_18_1">None</label>
	<input id="element_18_2" name="element_18" class="element radio" type="radio" value="2" />
	<label class="choice" for="element_18_2">0-5 units/week</label>
	<input id="element_18_3" name="element_18" class="element radio" type="radio" value="3" />
	<label class="choice" for="element_18_3">6-10 units/week</label>
	<input id="element_18_4" name="element_18" class="element radio" type="radio" value="4" />
	<label class="choice" for="element_18_4">11-15 units/week</label>
	<input id="element_18_5" name="element_18" class="element radio" type="radio" value="5" />
	<label class="choice" for="element_18_5">16-20 units/week</label>
	<input id="element_18_6" name="element_18" class="element radio" type="radio" value="6" />
	<label class="choice" for="element_18_6">21-24 units/week</label>
	<input id="element_18_7" name="element_18" class="element radio" type="radio" value="7" />
	<label class="choice" for="element_18_7">>24 units/week</label>

</span> 
</li>

<li class="buttons">
	<input type="hidden" name="form_id" value="1018014" />

	<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
</li>
</ul>
</form>	
</div>